# Streamlit app
streamlit==1.29.0
# Gradio for UI
gradio==3.39.0

# LangChain core
langchain>=0.1.270

# LangChain community for HuggingFace embeddings
langchain-community

# Vectorstore
chromadb

# Transformers and HuggingFace Hub
sentence-transformers
huggingface-hub

# Utilities
numpy
scipy


